.percentage-bar {
  height: 20px;
  width: 80px;

  --bradius: 5px;
}

.percentage-bar-content {
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: 100%;
  align-items: center;

  border-radius: var(--bradius);
  background-color: var(--primary-col);
  box-shadow: 0px 4.5px 1.2px -1px #0000003d;
}

.percentage-bar-label {
  justify-self: start;
  color: white;
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;
  font-weight: bold;
}

.stars-container {
  font-size: 30px;
  padding-right: 10px;
  color: white;
}

.stars {
  text-shadow: 0px 2px 3px #0f3061;
}


.stars.enabled {
  color: white;
}

.stars.disabled {
  color: #486a9c;
}