@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato';
  opacity: 0;
}

.seperator {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
  padding: 60px;
}

.content {
  height: 100%;
  width: 100%;
  padding: 10px;

  color: #565656;
}

.content h1 {
  font-size: 35px;
}

#left {

}

#right {
  background-image: url('imgs/pikto.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: none;
}

#go-back i {
  font-size: 40px;
  vertical-align: middle;
  color: #565656;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .seperator {
    float: none;
    width: 80%;
    margin: auto;
	font-size: 17px;
  }
  
  #first {
	height: 30%;
  }

  #second {
	height: 60%;
  }
  
 }
