@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Lato';
}

h1, h2, h3, h4 {
	color: #313131;
	margin-top: 5px;
}

h3 {
	display: none;
}
h1 {
	font-size: 50px;
}

body {
	width: 100vw;
	height: 500vh;
}

#root {height: 100%;}

#cards {
	width: 70%;
	height: 100%;
	margin: auto;
	position: fixed;
}

.card {
	display: none;
	width: 20vw;
	position: absolute;
}

#wallet {
	width: 40vw;
	position: fixed;
	bottom: -4vw;
	left: calc(50vw - 20vw);
}

#main {
	position: fixed;
	width: 85%;
	height: 50%;
	left: 5%;
	transition: .2s;
	color: #1d1d1d;

	background-color: white;
	opacity: .9;
}

#main .load {
	opacity: 0;
	padding: 15px;
	position: absolute;
}

#scroll-arrow {
	display: block;
	text-align: center;
	font-size: 50px;
}

@media all and (orientation: landscape) {
	#wallet {
		width: 30vw;
		left: calc(20vw - 15vw);
	}

	.card {
		width: 15vw;
	}

	#main {
		height: 90%;
		top: 50%;
		transform: translateY(-50%);
		width: 47%;
		left: 45%;
	}
}
