.content {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8em;
  background: whitesmoke;
  padding-bottom: 80px;
}

.content > div {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .content > div {
    width: 90%;
  }
  .content {
    padding-left: 5%;
    padding-right: 5%;
  }
}