.footer {
  display: flex;
  width: 100vw;
  align-items: center;
  padding-left: 20px;
  height: 25px;

  font-size: 15px;
  color: white;
  background-color: var(--primary-col);
}

.footer > span > a {
  margin-right: 4px;
  margin-left: 4px;
  color: white !important;
}

.footer > span:first-child > a {
  margin-left: 0px;
}