.headings {
  display: grid;
  width: 100%;
  height: var(--headings-height);
  align-items: center;
  justify-items: end;

  box-shadow: 0px 1px 2px 3px var(--shadow-out-col);
  z-index: 1;
  background-color: var(--primary-col);

  --gap: calc(calc(100% - var(--profile-picture-size)) - var(--profile-picture-margin));
}

.headings-container {
  display: grid;
  width: var(--gap);
  height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.heading {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 40px;

  /* font-weight: bold; */
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: .1s;
  font-family: 'Lato';
  background-color: transparent;
}
.heading.enabled:hover {
  cursor: pointer;
  background-color: white;
  color: var(--primary-col);
}

.heading.enabled:active {
  user-select: none;
  color: var(--secondary-col);
  background: whitesmoke;
}

@media screen and (min-width: 600px) {
  .headings-container {
    display: none;
  }
}