* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;

  --primary-col: #6c89b5;
  --secondary-col: salmon;
  --shadow-out-col: #0000003d;
  --shadow-in-col: #0000005c;

  --title-col: #383838;

  --headings-height: 50px;
  --profile-picture-size: 15em;
  --profile-picture-margin: 20px;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
}