.bio {
  margin-top: 15px !important;
  margin-bottom: 50px !important;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 500px) {
  .bio {
    margin-top: 10px !important;
  }
}