.employment-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  --employment-col: var(--primary-col);
}

.employment-item {
  display: grid;
  height: 110px;
  grid-template-rows: 3fr 2fr;
  align-items: center;

  color: white;
  background: var(--employment-col);
  border-radius: 5px;
  box-shadow: 0px 4.5px 1.2px -1px var(--shadow-out-col);
}

.employment-item > .employment-first-half {
  padding: 7px;
}

.employment-item > .employment-first-half > .employment-first-line {
  display: grid;
  grid-template-columns: minmax(max-content, 2fr) 5fr;
  justify-items: start;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 7px;
}

.employment-item > .employment-first-half > .employment-first-line > .employment-type {
  font-size: 30px;
}

.employment-item > .employment-first-half > .employment-first-line > .employment-years {
  font-style: italic;
}

.employment-item > .employment-notes {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: var(--secondary-col);
  box-shadow: inset 0px 3px 3px -2px var(--shadow-in-col);
}

@media screen and (max-width: 600px) {
  .employment-years {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .employment-type {
    font-size: 27px !important;
  }
}