.project-list {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;

  --project-col: var(--primary-col);
}

.project {
  display: grid;
  grid-template-rows: 10fr 1fr 2fr;
  row-gap: 3px;
  height: 300px;
  width: 100%;
  padding: 7px;

  color: white;
  border-radius: 7px;
  background-color: var(--project-col);
  box-shadow: 0px 4.5px 1.2px -1px var(--shadow-out-col);
}

.project > .project-image {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: inset 0px 0px 3px 0.5px var(--shadow-in-col);
  background-size: cover;
}

.project > .project-link {
  display: block;
  font-size: 1.4em;
  margin-top: 3px;

  text-decoration: none;
  font-weight: bold;
  color: white;
}

.project-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .project-list {
    grid-template-columns: 1fr;
  }
  .project {
    height: 270px;
  }
}