.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
}

.skills-description {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.skills-description > p {
  font-family: 'Lato', sans-serif;
}

.skill {
  display: flex;
  height: 3em;
  align-items: center;
}

.skill > .skill-ability {
  width: 100% !important;
  height: 100%;
}