$boxCol: #eee
$darkerCol: darken($boxCol, 5)
$textCol: darken($darkerCol, 40)

*
  color: $textCol
  font-family: monospace

#title
  margin-left: 10%
  font-size: 5em
  margin-bottom: 20px

#wrapper
  min-width: 670px

.box
  width: calc(100% - (1.5% + 20px))
  height: calc(100% - (1.5% + 20px))
  background-color: $boxCol
  border-radius: 20px
  padding: 1.5%
  -webkit-box-shadow: 0px 0px 19px -1px rgba(66,66,66,0.44)
  -moz-box-shadow: 0px 0px 19px -1px rgba(66,66,66,0.44)
  box-shadow: 0px 0px 19px -1px rgba(66,66,66,0.44)

  hr
    border: solid .5px lighten($textCol, 15)

  code
    background-color: darken($darkerCol, 6)
    padding: 5px
    border-radius: 6px
    font-weight: bold
    vertical-align: middle
    font-size: 1.2em

.column
  width: 20%
  background-color: $darkerCol
  float: left

.extend
  float: left
  width: calc(74% - 1.5%)
  margin-left: 1.5%

.list-option
  font-size: 1.3em
  display: block
  cursor: pointer
  text-decoration: none

  &:hover, &:active
    font-weight: bold
